.simple-padding-container {
  padding: 16px;
  background-color: #fff;
}

.white-container {
  background-color: #fff;
}

.primary-background {
  /* background-color: primary variable */
  background-color: #9c27b0;
}

.simple-border-container {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.overflow-ellipsis {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-weight: 500;
}

.gray-background {
  background-color: #f5f5f5;
}

.customer-info-card {
  border-left: #fff 4px solid;
}
@media (hover: hover) {
  .hover-secondary:hover {
    cursor: pointer;
    border-left: #9c27b0 4px solid !important;
    background-color: #f5f5f5 !important;
  }
  .navbar-button:hover {
    cursor: pointer;
    border-left: #9c27b0 4px solid !important;
  }
}

.secondary-left-border {
  border-left: #9c27b0 4px solid !important;
}

.blank-left-border {
  border-left: #fff 4px solid !important;
}

.navbar-button {
  justify-content: flex-start !important;
  width: 100%;
}

.grey-bottom-border {
  border-bottom: 1px solid #ccc;
}

.account-info-header {
  margin-top: 32px;
}

.customer-info {
  width: calc(100% - 16px);
}

.dotted-divider {
  border-top: 1px dashed #ccc;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}
