.simple-padding-container {
  padding: 16px;
  background-color: #fff;
}

.white-container {
  background-color: #fff;
}

.primary-background {
  background-color: #1867c0;
}

.simple-border-container {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.overflow-ellipsis {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-weight: 500;
}

.hover-secondary:hover {
  cursor: pointer;
  background-color: #ebf7ff;
}

.secondary-background {
  background-color: #ebf7ff;
}
