.simple-padding-container {
  padding: 16px;
  background-color: #fff;
}

.white-container {
  background-color: #fff;
}

.primary-background {
  /* background-color: primary variable */
  background-color: #ef233c;
}

.simple-border-container {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.overflow-ellipsis {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-weight: 500;
}

.gray-background {
  background-color: #f5f5f5;
}

.customer-info-card {
  border-left: #fff 4px solid;
}

.hover-secondary:hover {
  cursor: pointer;
  border-left: #ef233c 4px solid;
  background-color: #f5f5f5;
}

.secondary-left-border {
  border-left: #ef233c 4px solid;
}

.blank-left-border {
  border-left: #fff 4px solid;
}

.navbar-button {
  justify-content: flex-start;
  width: 100%;
}

.navbar-button:hover {
  cursor: pointer;
  border-left: #ef233c 4px solid;
}

.grey-bottom-border {
  border-bottom: 1px solid #ccc;
}

.account-info-header {
  margin-top: 32px;
}

.customer-info {
  width: calc(100% - 16px);
}

.dotted-divider {
  border-bottom: 1px dotted #ccc;
}
